.chart-container2 {
  justify-content: center;
  align-items: center;
  width: 100%;  
  padding: 20px;
  margin: 0 auto;
  background-color: transparent !important;
}

.apexcharts-title-text {
  font-size: none !important; 
  font-weight: bold !important;
  color: transparent !important;
  text-align: center !important;
  margin-bottom: 20px; 
}

.apexcharts-legend-text {
  font-size: 16px !important; 
  color: #ffffff !important;
}


.apexcharts-tooltip-text {
  font-size: 14px !important; 
  color: #ffffff !important;
}

